<template >
    <div>
        <span style="color:red;" v-if="inputType==='email' && !pass">Please paste correct email address</span>
        <input v-model="text"  @change="updateText" :type="inputType" :placeholder="placeHolder" required /> 
    </div>
</template>


<script>
export default {
    name: 'inputForm',
    props: {
            inputType:{
                type: String,
                required: true
            },
            placeHolder:{
                type: String,
                required:true
            }
    },
    data: function() {
        return {
            text: '',
            pass: ' '
        }
    },
    methods:{
        updateText(text){
            
            if (text.target.type === "email"){
                this.pass = text.target.value.match(/^([^0-9][A-Za-z]{1})\w+@[A-Za-z]+.([a-z]+)/g);
                console.log("pass", this.pass);
            }
            this.$emit('enter', text.target.value, text.target.type);
        }
    }
}
</script>
<style >
    input{
        width: 500px;
        height: 25px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18pt;
        margin-bottom: 30px;
        border-radius: 5px;
    }
</style>