<template >
<div>
  <div id="modal">
    <p v-if="code===200">Thank you!</p>
    <p v-if="code!=200" >Something went wrong.</p>
    <input type="button" value="OK" id="feedback_button" />
  </div>
  </div>
</template>
<script>
export default {
  name: "confirm",
  props: {
      code:{
          require: true
      }
  },

};
</script>
<style >
#modal{
    margin: 0 auto;
    background-color: #f0f0f0;
    width: 700px;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 36pt;
    padding-top:60px ;
}
#feedback_button {
  width: 300px;
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24pt;
  border-radius: 25px;
  margin-top: 35px;
  background-color: #6633ff;
  color: white;

}
</style>