<template>
  <div id="app">
    <div class="wrapper" v-if="code===''">
      <h1 id="top_text">FEEDBACK FORM</h1>
      <inputForm
        inputType="text"
        placeHolder="Name"

        @enter="changeValue"
      ></inputForm>
      <inputForm
        inputType="email"
        placeHolder="Email"

        @enter="changeValue"
      ></inputForm>
      <starRaiting :grade="2" @click="enterRate"></starRaiting>
      <textarea
        name="Comment"
        id="comment"
        cols="70"
        rows="10"
        v-model="comment"
      ></textarea>
      <input type="button" :disabled="disable" value="Send Feedback" id="feedback_button" @click="sendRequest">
    </div>
    <modal :code="code" v-if="code!=''"></modal>
  </div>
</template>

<script>
import inputForm from "./components/input/input.vue";
import starRaiting from "./components/star/star.vue";
import modal from "./components/Modal/modal.vue"

export default {
  name: "App",
  components: {
    inputForm,
    starRaiting,
    modal,
  },
  data() {
    return {
      text: "",
      email: "",
      stars:"",
      comment: "",
      disable: true,
      code:''
    };
  },
  methods: {
    changeValue(text=null, type=null) {
      if (type === "text") this.text = text;
      if (type === "email") this.email = text;
    },
    enterRate(stars){
      console.log(stars)
      this.stars = stars
    },
    enbaleButton(){
      if (this.text!="" && this.email!="" && this.stars!="" && this.comment!="")
        this.disable = false
    },
    sendRequest(){
      const req = {
        method: "POST",
        headers:{
          'Content-Type':'application/json'
        },
        body: JSON.stringify({
          name: this.text,
          email: this.email,
          raiting: this.stars,
          comment: this.comment
        })
      };
      fetch("https://it-academy-viseven.herokuapp.com/task6-check", req)
      .then(response =>{
        console.log('Status', response.status)
        this.code=response.status;
        return response.json();
      })
      .then(data =>{
        console.log(data)
      });
    }
  },
  watch:{
    text(){
      this.enbaleButton();
    },
    email(){
      this.enbaleButton();
    },
    comment(){
      this.enbaleButton();
    },
    stars(){
      this.enbaleButton();
    }
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.wrapper{
  background-color: #f0f0f0;
  margin: 0 auto;
  width: 700px;
}
#top_text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36pt;
  font-weight: bold;
  color: #000;
}
#feedback_button{
  width: 300px;
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24pt;
  border-radius: 25px;
  margin-top: 35px;
  background-color: #6633ff;
  color: white;
}
</style>
